:root {
  --ff-logo: 'Righteous';
  --ff-main: 'Bpmf Huninn';
}

.app-container {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: var(--ff-main);
}

.resume-container {
  background: center/cover url(./assets/resume-bg.svg);
  display: flex;
  align-items: center;
  justify-content: center;

  .resume-page {
    background-color: snow;
    box-shadow: 0px 0px 4px 1px #0003;
    width: 100%;
    max-width: 600px;
    height: 90%;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }

  .resume-left-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .resume-right-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .resume-first-name {
    font-size: 3rem;
  }

  .resume-last-name {
    font-size: 2rem;
  }

  .resume-title {
    text-transform: uppercase;
  }
}

.theme-switch-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  font-size: 1rem;
  background-color: #72935f;
  color: snow;
  font-family: inherit;
  font-weight: 700;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: opacity 0.1s ease-out;

  &:hover {
    opacity: 0.8;
  }
}
