@import url('https://fonts.googleapis.com/css2?family=Bpmf+Huninn&family=Righteous&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  background-color: snow;
  border: 2px solid #0002;
  border-radius: 0.4rem;
  font-size: 1rem;
  outline: none;
  color: #113013;

  &:focus {
    outline: 3px solid #113013;
    border: 2px solid transparent;
  }
}
